<!DOCTYPE html>
<html>
  <head>
    <title>rubyfutbol</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <p id="notice"><%= notice %></p>
      <p>
        Su asistencia al evento <b><%= @invite.event.name %></b> ha sido <u>confirmada</u>
      </p>
      <p>
        Muchas gracias!
      </p>
      <br>
      <%= render "edit_profile" %>
    </div>

    <div id='masche' style="display:none;">
     <img width="320px" height="180px" src="http://www.ole.com.ar/mundial/argentina/Hoy-convertis-heroe_OLEVID20140709_0021_14.jpg">
    </div>
  </body>
</html>