<div>
  <p id="notice"><%= notice %></p>
  <p>
    Editar info de <b><%= @invite.name %></b>
  </p>
  <br><br>

  <%= form_for @invite, url: {action: "update_info"} do |f| %>
  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :confirmed, "Estatus" %><br>
    <%= f.select(:confirmed, [['Asistire', 1], ['No asisitre', 2]]) %>
  </div>
  <br>
  <div class="field">
    <%= f.check_box :receive_emails %>
    <%= f.label :receive_emails, "Recibir emails?" %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>

</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>