<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @invite.name %></p>
    <p>
      Se te ha invitado a participar del evento: <b><%= @invite.event.name %></b>
    </p>

    <br>

    <p>
      Por favor, indica tu asistencia:
    </p>

    <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                controller: 'invites',
                action: 'confirm',
                token: @invite.token) %>"><button>Asistire</button></a>
                <br><br>
    <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                controller: 'invites',
                action: 'reject',
                token: @invite.token) %>"><button>No Asistire</button></a>
                <br><br>
    <%#  <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                contro=begin=endller: 'invites',
                action: 'postpone',
                token: @invite.token) "><button>Recordarme en 2 dias</button></a> %>

  </body>
</html>
