<h5 id="notice"><%= notice %></h5>

<h4>Event</h4>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<% unless @event.invites.count < 1 %>
	<%= render 'invites_event' %>
<% end %>

<h5>Add an invite</h5>

<%= form_for([@event, @event.invites.build]) do |f|%>
    <p>
        <%= f.label :name %> <br />
        <%= f.text_field :name %> <br />
    </p>
    <p>
        <%= f.label :mail %> <br />
        <%= f.text_field :mail %> <br />
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
 <a href="<%=url_for(host: ENV['URL_FOR_HOST'], controller: 'events', action: 'confirm') %>">confirm </a>
 