<p id="notice"><%= notice %></p>

<h4>Invite</h4>

<p>
  <strong>id:</strong>
  <%= @invite.id %>
</p>

<p>
  <strong>mail:</strong>
  <%= @invite.mail %>
</p>

<p>
  <strong>confirmed:</strong>
  <%= @invite.confirmed %>
</p>

<p>
  <strong>Name:</strong>
  <%= @invite.name %>
</p>

<p>
  <strong>event_id:</strong>
  <%= @invite.event_id %>
</p>
