<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @invite.name %></p>
    <p>
      Evento: <b><%= @invite.event.name %></b>
    </p>

    <br>

    <p>
      Asistiran:
    </p>
    <ul>
      <% @event.invites.order("updated_at asc").select{ |invite| invite.confirmed == Invite::CONFIRMED_STATUS }.each_with_index do |invite, index| %>
        <li><%= index + 1 %>. <%= invite.name %></li>
      <% end %>
    </ul>

    <br>

    <p>
      No asistiran:
      <ul>
        <% @event.invites.order("updated_at asc").select{ |invite| invite.confirmed == Invite::REJECTED_STATUS }.each_with_index do |invite, index| %>
          <li><%= index + 1 %>. <%= invite.name %></li>
        <% end %>
      </ul>
    </p>

    <br>

    <p>
      Sin confirmar:
      <ul>
        <% @event.invites.order("updated_at asc").select{ |invite| invite.confirmed == Invite::UNKNOWN_STATUS || invite.confirmed == Invite::POSTPONED_STATUS }
          .each_with_index do |invite, index| %>
            <li><%= index + 1 %>. <%= invite.name %></li>
        <% end %>
      </ul>
    </p>

    <br/>
    <br/>

    <% if @invite.confirmed == Invite::UNKNOWN_STATUS %>
      <p>
       Actualizar mi estado:
      </p>
       <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                  controller: 'invites',
                  action: 'confirm',
                  token: @invite.token) %>"><button>Asistire</button></a>
                  <br><br>
       <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                  controller: 'invites',
                  action: 'reject',
                  token: @invite.token) %>"><button>No Asistire</button></a>
                  <br><br>
    <% else %>
       <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                  controller: 'invites',
                  action: 'edit_info',
                  token: @invite.token) %>"><button>Modificar mi perfil</button></a>
    <% end %>

  </body>
</html>