<!DOCTYPE html>
<html>
  <head>
    <title>rubyfutbol</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <nav class="light-blue lighten-1" role="navigation">
      <div>
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
     <div class="container">
      <%= yield %>
     </div>
    </div>
    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l3 s12">
           
          </div>
          <div class="col l3 s12">
           
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        </div>
      </div>
    </footer>
  </body>
</html>